/* utils: */
.rounded-border{
    border-radius: 10px;
}
.border-none{
    border: 0px;
}
/* .h5-input {
  font-size: 1.25rem;   
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
} */

